.liferayGoogleAnalytics-portlet #mod_analytics {
	background-color: #FFFFFF;
	padding: 5px;
	border-width: 1px 1px 1px 1px;
	border-color: #b5b5b5;
	border-style: solid solid solid solid;
	padding-top: 1px;
	margin-right: 5px;	
}
.labelanalytics a {
    text-decoration: none;
    font-size: 14px;
    color: #0077cc;
}

/* Style the calendar custom widget */
 #date-range {
   position:relative;
   margin-top: 5px;
 }
 #date-range-field {
   width: 290px;
   height: 26px;
   overflow: hidden;
   position: relative;
   cursor:pointer;
   border: 1px solid #CCCCCC;
   border-radius: 5px 5px 5px 5px;
 }
 #date-range-field a  {
   color:#B2B2B2;
   background-color:#F7F7F7;
   text-align:center;
   display: block;
   position: absolute;
   width: 26px;
   height: 23px;
   top: 0;
   right: 0;
   text-decoration: none;
   padding-top:6px;
   border-radius: 0 5px 5px 0;
 }
 #date-range-field span {
   font-size: 12px;
   font-weight: bold;
   color: #404040;
   position: relative;
   top: 0;
   height: 26px;
   line-height: 26px;
   left: 5px;
   width: 250px;
   text-align: center;
 }
 .datepicker-calendar {
   position: absolute;
   top: 27px;
   left: 0;
   overflow: hidden;
   width: 597px;
   height: 153px;
   background-color: #F7F7F7;
   border: 1px solid #CCCCCC;
   border-radius: 0 5px 5px 5px;
   display:none;
   padding:10px 0 0 10px;
   z-index: 1;
 }
 #datepicker-calendar-prev {
  top: 188px;
  height: 160px;
 }
 .datepicker-calendar .btn {
 	float: right;
 	margin-right: 20px;
	margin-top: 55px;
 }
     
 /* Remove default border from the custom widget since we're adding our own. */
 .datepicker-calendar div.datepicker {
   background-color: transparent;
   border: none;
   border-radius: 0;
   padding: 0;
  }
  .modal{
   width: 760px; 
  }

/* Orange cell color for selected days for compare date range */
#datepicker-calendar-prev tbody.datepickerDays td.datepickerSelected {
  background-color:#FF9900;
}

/*Pie Styles*/
.center-table{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}
.center-table #visitsPieTxt {
	margin-right: 60px;
}
.center-table .separator {
	padding-left: 120px;
}
.pieTitle{
	font-weight: bold;
	font-size: 16px;
}