div.graph-frame {
  border: 1px solid lightgrey;
} 
  
div.graph-canvas {
}
                                             
div.graph-axis {
  border-color: #4D4D4D;
  border-width: 1px;
}  
div.graph-axis-vertical {
}
div.graph-axis-grid {
  border-width: 1px;
}  
div.graph-axis-grid-minor {
  border-color: #e5e5e5;
}  
div.graph-axis-grid-major {
  border-color: #bfbfbf;
}  
div.graph-axis-grid-vertical {
  border-color: #4D4D4D;
}
div.graph-axis-button-menu {
  background-color: white;
  left: 10px;
  top: 10px;
}
div.graph-axis-button {
  border: 1px solid #4D4D4D;
  width: 16px;
  height: 16px;
  text-align: center;
  font-size: 13px;
  background-color: white;
  border-radius: 3px;
  margin-right: 5px;
  margin-bottom: 5px;
  cursor: pointer;
}
div.graph-axis-text {
  padding: 3px;
  color: #4D4D4D;
}

div.graph-axis-text-minor {
} 
div.graph-axis-text-major {
}
div.graph-axis-text-vertical {
  padding-right: 10px;
} 

div.graph-legend {
  border: 1px solid #4D4D4D;
}
div.graph-legend-item {
  color: #4D4D4D;
  margin: 5px;
} 
